.section.mydla .container {
    max-width: 77.375rem
}

.landing-sections .landing-top {
    background-image: url(/widoki/img/mydlo_bgd.png);
    background-size: contain;
    background-repeat: no-repeat
}

@media screen and (max-width:1200px) {
    .landing-sections .landing-top {
        background-image: url(/widoki/img/mydlo_bgd_mobile.png);
        background-size: contain;
        background-repeat: no-repeat
    }
}

@media screen and (max-width:1200px) {
    .landing-sections .landing-top h1 {
        margin-top: 0
    }
}

.bg-gold {
    background-color: var(--main-color)!important
}

.bg-gold a {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0
}

.container.left-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 79rem;
    color: #fff
}

.container.left-box h1 {
    margin-bottom: 0;
    text-align: left;
    font: normal normal 600 4.6rem Geomanist;
    letter-spacing: 0;
    color: #fff;
    text-shadow: 0 .1875rem .625rem rgba(81, 99, 139, .4196078431372549);
    opacity: 1
}

@media screen and (max-width:1200px) {
    .container.left-box h1 {
        margin-left: 0!important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font: normal normal 700 2.5rem Geomanist;
        letter-spacing: 0;
        color: #fff;
        text-shadow: 0 .1875rem .625rem rgba(81, 99, 139, .4196078431372549);
        opacity: 1
    }
}

.container.left-box h3 {
    background-color: var(--main-color);
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
    padding: .1875em 1.5rem .25rem;
    font: normal normal normal 1rem Geomanist;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    margin-top: .5rem
}

.container.left-box p {
    max-width: 40%;
    letter-spacing: 0
}

.container.two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width:1200px) {
    .container.two-columns {
        margin-left: 0!important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #000
    }
}

.container.two-columns p {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
}

.landing-sections .landing-top {
    background-size: cover;
    height: 115vh
}

.landing-sections .two-columns {
    margin-top: -19rem
}

.two-columns {
    color: #fff
}

.mydla {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 3rem
}

.mydla hr {
    color: var(--main-color)!important;
    margin-top: 3rem
}

.mydla .length-20 {
    width: 20%
}

.mydla .number-of-article {
    text-align: left;
    font: normal normal 300 5rem/6rem Geomanist;
    letter-spacing: 0;
    color: var(--main-color);
    opacity: 1;
    margin-bottom: 1rem
}

.mydla .big-title {
    text-align: left;
    font: normal normal 700 3.5rem/4rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1
}

.mydla .small-title {
    font: normal normal normal 1.5rem/2rem Geomanist;
    letter-spacing: .00125rem;
    color: var(--main-color);
    opacity: 1;
    font-weight: 600;
    margin-top: .1rem
}

.mydla .description {
    text-align: left;
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #5f5e5f;
    opacity: 1;
    max-width: 60rem
}

.mydla .album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 4rem
}

@media screen and (max-width:1200px) {
    .mydla .album {
        margin-left: 0!important
    }
}

.mydla .album-element {
    -ms-flex-preferred-size: 31.7%;
    flex-basis: 31.7%;
    background-color: #fff;
    margin-bottom: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 34rem
}

@media screen and (max-width:1200px) {
    .mydla .album-element {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        height: auto;
        max-height: none
    }
}

.mydla .album-element .bg-element {
    height: 18rem;
    background-size: cover
}

.mydla .album-element .long-descr {
    display: none;
    text-align: left;
    font: normal normal normal .875rem/1.5rem Geomanist;
    letter-spacing: 0;
    color: #636363;
    opacity: 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media screen and (max-width:1200px) {
    .mydla .album-element .long-descr {
        display: block
    }
}

.mydla .album-element .info-wrapper {
    min-height: 16rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

@media screen and (max-width:1200px) {
    .mydla .album-element .info-wrapper {
        position: inherit
    }
}

.mydla .album-element .category {
    padding-left: 1.5rem;
    text-align: left;
    font: normal normal normal .625rem/1.5rem Geomanist;
    letter-spacing: 0;
    color: #b39d77;
    opacity: 1;
    margin-top: 1.5rem;
    margin-bottom: 0
}

@media screen and (max-width:1200px) {
    .mydla .album-element .category {
        margin-top: .5rem
    }
}

.mydla .album-element .title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    font: normal normal 700 1.5rem/2rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: .2rem
}

@media screen and (max-width:1200px) {
    .mydla .album-element .title {
        position: inherit;
        -webkit-line-clamp: inherit!important;
        max-height: -webkit-fit-content!important;
        max-height: -moz-fit-content!important;
        max-height: fit-content!important;
        margin-bottom: 0
    }
}

.mydla .album-element a {
    text-align: left;
    font: normal normal medium 1rem/1.5rem Geomanist;
    letter-spacing: 0;
    color: #b39d77;
    opacity: 1;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: height 4s;
    -o-transition: height 4s;
    transition: height 4s;
    position: absolute;
    bottom: 2rem;
    font-size: 1rem
}

@media screen and (max-width:1200px) {
    .mydla .album-element a {
        position: inherit;
        margin-bottom: 1.5rem
    }
}

.mydla .album-element i {
    letter-spacing: 0;
    color: #b39d77;
    opacity: 1;
    font-size: 1rem;
    position: absolute;
    right: -2.5rem;
    top: .125rem
}

@media screen and (max-width:1200px) {
    .mydla .album-element i {
        position: inherit;
        float: right;
        margin-right: 1.5rem;
        margin-top: .25rem
    }
}

.mydla .album-element a:hover {
    text-decoration: none
}

.mydla .album-element:hover {
    cursor: pointer;
    max-height: 34rem
}

.mydla .album-element:hover .bg-element {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    opacity: .3
}

.mydla .album-element:hover .long-descr {
    display: block;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s
}

.mydla .album-element:hover .category,
.mydla .album-element:hover .title {
    -webkit-transform: translateY(-18rem);
    -ms-transform: translateY(-18rem);
    transform: translateY(-18rem);
    -webkit-transition-timing-function: cubic-bezier(0, 0, 1, .99);
    -o-transition-timing-function: cubic-bezier(0, 0, 1, .99);
    transition-timing-function: cubic-bezier(0, 0, 1, .99)
}

.mydla .album-element:hover .title {
    position: absolute;
    top: 3rem;
    max-height: 10rem!important;
    -webkit-line-clamp: 5!important
}

.mydla .album-element:hover .long-descr {
    -webkit-transform: translateY(-10rem);
    -ms-transform: translateY(-10rem);
    transform: translateY(-10rem);
    position: absolute;
    top: 10rem;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s
}

@media screen and (max-width:1199px) {
    .mydla .album-element:hover {
        cursor: auto
    }
    .mydla .album-element:hover .bg-element {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        opacity: 1
    }
    .mydla .album-element:hover .long-descr {
        display: block
    }
    .mydla .album-element:hover .category,
    .mydla .album-element:hover .title {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        top: auto
    }
    .mydla .album-element:hover .title {
        position: relative;
        top: none;
        max-height: none;
        -webkit-line-clamp: none
    }
    .mydla .album-element:hover .long-descr {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        position: relative;
        top: none
    }
}

.banner.list {
    min-height: 5rem;
    margin-top: 2rem important;
    padding-top: 0;
    height: -webkit-fit-content!important;
    height: -moz-fit-content!important;
    height: fit-content!important
}

.banner.list .bg-element {
    height: auto
}

@media screen and (max-width:1200px) {
    .banner.list .bg-element {
        display: none
    }
}

.bg-white .banner {
    border: none
}

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3.5rem;
    -moz-column-gap: 3.5rem;
    column-gap: 3.5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff 0 0 no-repeat padding-box;
    opacity: 1;
    min-height: 43rem;
    padding-left: .5rem;
    padding-top: 5.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-right: -1rem
}

@media screen and (max-width:1200px) {
    .banner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: .5rem;
        padding-right: .5rem
    }
}

.banner .bg-element {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    height: 31.25rem;
    width: 31.25rem;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1/1
}

@media screen and (max-width:1200px) {
    .banner .bg-element {
        width: 100%
    }
}

.banner .info-wrapper {
    min-height: 16rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
}

.banner .info-wrapper .title {
    padding-right: 1.5rem;
    padding-left: 0!important;
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    margin-top: .5rem;
    margin-bottom: 0
}

.banner .list ul {
    margin-bottom: 0;
    margin-top: 0
}

.banner .category {
    font: normal normal normal .75rem/1rem Geomanist;
    margin-top: 1.5rem;
    margin-bottom: 0
}

.banner .category,
.banner a {
    text-align: left;
    letter-spacing: 0;
    color: #b39d77;
    opacity: 1
}

.banner a {
    font: normal normal medium 1rem/2rem Geomanist;
    margin-bottom: 2.3rem;
    padding-left: 1.5rem;
    position: relative
}

.banner .long-descr {
    text-align: left;
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #5f5e5f;
    opacity: 1;
    margin-bottom: 0;
    margin-top: 2rem
}

@media screen and (max-width:1200px) {
    .banner .long-descr {
        margin-top: 1rem
    }
}

.banner button {
    border-color: var(--main-color);
    height: 2.75rem;
    width: 17.3rem;
    background: var(--main-color) 0 0 no-repeat padding-box;
    border-radius: .125rem;
    opacity: 1;
    margin-top: 3rem
}

@media screen and (max-width:1200px) {
    .banner button {
        width: 100%
    }
}

.banner button a {
    color: #fff;
    margin: 0;
    padding: 0
}

.white-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

@media screen and (max-width:1200px) {
    .white-left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.black-left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    background-color: #000
}

@media screen and (max-width:1200px) {
    .black-left {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.black-left .title {
    color: #fff
}

.black-left .long-descr {
    color: #b8b8b8
}

.black-right {
    background-color: #000
}

.black-right .title {
    color: #fff
}

.black-right .long-descr {
    color: #b8b8b8
}

.mydla.list .container {
    padding-top: 6rem
}

.mydla.list .banner {
    padding-bottom: 3.8rem;
    background-color: rgba(0, 0, 0, 0)!important;
    border: none
}

.mydla.list .subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0;
    margin-top: -4rem
}

.mydla.list ul {
    margin-top: 0
}

.mydla.list ul li {
    line-height: 2rem;
    padding-left: 0
}

.mydla.list ul li a {
    padding-left: 0;
    letter-spacing: 0;
    color: #5f5e5f!important
}

.mydla.list ul li i {
    color: #bdaa89
}

.mydla.list ul li:before {
    display: none
}

.mydla .length-100 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mydla.bg-black {
    background-color: #000
}

.mydla.bg-black .subtitle {
    color: #fff
}

.mydla.bg-black .container {
    padding-top: 6rem
}

.mydla.bg-black ul li a {
    color: #cbcbcb!important
}

.mydla.bg-black ul li i {
    color: #bdaa89
}

.mydla.bg-black ul li:before {
    display: none
}

.mydla.video-list .video-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.mydla.video-list .video-list .big-title {
    width: 100%;
    margin-top: 5.3rem;
    margin-bottom: 5.3rem
}

.mydla.video-list .video-element {
    width: 32%;
    margin-bottom: 2rem
}

.mydla.video-list .subtitle {
    font: normal normal 700 1.25rem/1.625rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1
}

.mydla.video-list.bg-black .video-list .big-title {
    width: 100%;
    margin-top: 5.3rem;
    margin-bottom: 5.3rem;
    color: #fff
}

.mydla.video-list.bg-black .video-element {
    width: 32%;
    margin-bottom: 2rem
}

.mydla.video-list.bg-black .subtitle {
    font: normal normal 700 1.25rem/1.625rem Geomanist;
    letter-spacing: 0;
    color: #fff;
    opacity: 1
}

.container.video-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 7rem;
    max-height: 43.8125rem
}

.container.video-banner .video-container {
    width: 50.5rem
}

.container.video-banner .video-container iframe {
    max-height: 28.4375rem
}

.container.video-banner .title {
    font-size: 2rem;
    font-weight: 700;
    font: normal normal 700 2rem/2.6875rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1
}

.container.video-banner .info-wrapper {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-left: 1.5rem
}

.container.video-banner .info-wrapper .long-descr {
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #5f5e5f;
    opacity: 1
}

@media screen and (max-width:1200px) {
    .container.video-banner .info-wrapper .length-100 {
        margin-top: .5rem;
        margin-bottom: .1rem
    }
}

.section.bg-black .container.video-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 7rem;
    max-height: 43.8125rem
}

.section.bg-black .container.video-banner .video-container {
    width: 50.5rem;
    height: 28.4375rem
}

.section.bg-black .container.video-banner .video-container iframe {
    max-height: 28.4375rem
}

.section.bg-black .container.video-banner .title {
    font-size: 2rem;
    font-weight: 700;
    font: normal normal 700 2rem/2.6875rem Geomanist;
    letter-spacing: 0;
    color: #fff;
    opacity: 1
}

.section.bg-black .container.video-banner .info-wrapper {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-left: 1.5rem
}

.section.bg-black .container.video-banner .info-wrapper .long-descr {
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #b8b8b8;
    opacity: 1
}

.bg-black {
    background-color: #000
}

.mydla.vertical-list-slider {
    padding-top: 3.5rem
}

.mydla.vertical-list-slider .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #fff 0 0 no-repeat padding-box;
    border: 1px solid #e6e6e6;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    height: 35rem
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .container {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content
    }
}

.mydla.vertical-list-slider .articles-view-block {
    max-width: 26.75rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    background: #fbfbfb 0 0 no-repeat padding-box;
    -webkit-box-shadow: inset -.125rem 0 .25rem rgba(0, 0, 0, .1803921568627451);
    box-shadow: inset -.125rem 0 .25rem rgba(0, 0, 0, .1803921568627451);
    opacity: 1;
    padding-right: 1.5rem;
    position: relative
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .articles-view-block {
        display: none
    }
}

.mydla.vertical-list-slider .articles-view-block .bg-element {
    width: 23rem;
    height: 17.25rem;
    background-size: cover
}

.mydla.vertical-list-slider .articles-view-block .title {
    text-align: left;
    font: normal normal 700 1.5rem/2rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    padding-right: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem
}

.mydla.vertical-list-slider .articles-view-block i {
    display: none
}

.mydla.vertical-list-slider .articles-view-block .subtitle {
    text-align: left;
    font: normal normal normal .875rem/1.5rem Geomanist;
    letter-spacing: 0;
    color: #636363;
    opacity: 1;
    padding-right: 2.5rem;
    margin-top: 0;
    bottom: 1.5rem
}

.mydla.vertical-list-slider .list-wrapper {
    width: 100%;
    padding-left: 3rem;
    padding-right: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mydla.vertical-list-slider .list-wrapper .heading {
    font: normal normal 700 1.5remx/2rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1;
    margin-bottom: 1rem
}

.mydla.vertical-list-slider .list-wrapper .bg-element {
    display: none
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .list-wrapper .bg-element {
        display: block;
        width: 3.75rem;
        height: 3.75rem;
        background-size: cover
    }
}

.mydla.vertical-list-slider .list-wrapper .subtitle {
    display: none
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .list-wrapper .subtitle {
        margin-top: 0;
        display: block;
        font: normal normal 700 .875rem/1.3125rem Geomanist;
        letter-spacing: 0;
        color: #000;
        opacity: 1;
        width: calc(100% - 4.5rem)
    }
}

.mydla.vertical-list-slider .list-wrapper ul {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.mydla.vertical-list-slider .list-wrapper li {
    padding-left: 0
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .list-wrapper li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-column-gap: .5rem;
        -moz-column-gap: .5rem;
        column-gap: .5rem
    }
}

.mydla.vertical-list-slider .list-wrapper li:before {
    display: none
}

.mydla.vertical-list-slider .list-wrapper li a {
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #000;
    opacity: 1
}

@media screen and (max-width:1200px) {
    .mydla.vertical-list-slider .list-wrapper li a {
        display: none
    }
}

.mydla.vertical-list-slider .list-wrapper li hr {
    margin-top: .75rem;
    margin-bottom: .75rem;
    border-bottom: 0
}

.mydla.vertical-list-slider .list-wrapper button {
    margin-bottom: 2rem
}

.triangle-shadow {
    height: 3.375rem;
    width: 2.5625rem;
    background-image: url(/widoki/img/strzalka-do-slidera.PNG);
    background-size: cover;
    position: absolute;
    left: -4.2rem;
    top: -.6875rem
}

@media screen and (max-width:1200px) {
    .triangle-shadow {
        display: none
    }
}

.list-wrapper li {
    position: relative
}

.banner-slider .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.container.video-banner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important
}

.container.video-banner .video-container {
    width: 67%;
    height: 28.4375rem
}

.section-black.mydla .mask .big-title,
.section-black.mydla .mask .description,
.section-black .title {
    color: #fff
}

.section-black.mydla .mask .info-wrapper .title {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-left: 0
}

.section-black.mydla .mask .banner {
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0)!important;
    border: none;
    padding-left: 0;
    padding-right: 0
}

.section-black.mydla .mask .banner .info-wrapper {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.section-black.mydla .mask .banner .info-wrapper .subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0;
    margin-top: -1rem
}

.section-black.mydla .mask .banner .info-wrapper li {
    padding-left: 0
}

.section-black.mydla .mask .banner .info-wrapper li:before {
    display: none
}

.section-black.mydla .mask .banner .info-wrapper a {
    padding-left: 0
}

.section-black.mydla .mask hr {
    border-bottom: 0
}

.section.section-black.mydla {
    padding-bottom: 0
}

.mydla.slider-full-page hr {
    margin-top: 2rem;
    margin-right: 1rem
}

.mydla.slider-full-page .album {
    margin-top: 0
}

.mydla.slider-full-page .album-element {
    margin-right: 1rem;
    margin-bottom: 2.5rem
}

.length-50 {
    width: 66%
}

.mydla .mask {
    padding-top: 0
}

.mydla .mask .length-100 {
    border-color: #363636
}

.mydla .mask .length-50 {
    border-color: #baa784
}

.mydla .mask .slider-full-page.mydla {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mydla .mask .slider-full-page.mydla .h4 {
    background-color: rgba(0, 0, 0, 0)
}

.mydla .mask .slider-full-page.mydla .slider-controls {
    width: 100%
}

.mydla .mask .slider-full-page.mydla .slider-controls .slide-counter {
    color: #fff;
    font-size: 1rem
}

.mydla .mask .slider-full-page.mydla .slider-controls .slide-counter .current-slide {
    color: #bec2c6
}

.mydla .mask .slider-full-page.mydla .slider-controls .icon-arrow {
    font-size: 1rem
}

.mydla .mask .slider-full-page.mydla .slider-controls .next {
    margin-left: 0
}

.mydla .mask .slider-full-page.mydla .slider-wrapper {
    max-width: 100%
}

.mydla .mask .info-wrapper .title {
    color: #fff
}

.mydla .mask .info-wrapper .long-descr {
    color: #b8b8b8
}

.mydla .mask .album .album-element .title {
    color: #000!important;
    display: -webkit-box;
    max-height: 6rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.mydla .mask .album .album-element .long-descr {
    color: #000!important
}

.mydla .mask .banner li a,
.mydla .mask .banner li i {
    color: #cbcbcb
}

.mydla .mask .banner.white-left {
    padding-top: 1rem;
    margin-top: 0;
    min-height: 15rem!important
}

.mydla .mask .banner.white-left .info-wrapper .title {
    padding-left: 0!important
}

.mydla .mask .banner.white-right {
    padding-top: 1rem;
    margin-top: 0;
    min-height: 15rem!important
}

.mydla .mask .banner.white-right .info-wrapper .title {
    padding-left: 0!important
}

.mydla .mask .section-columns-slider .section-columns-slider .slick-arrow,
.mydla .mask .section-columns-slider .slick-arrow.in-circle i {
    color: var(--main-color)
}

.mydla .mask .section-columns-slider .slick-arrow:hover i {
    background-color: #fff
}

.mydla .mask .section-columns-slider .slick-dots li.slick-active button:before {
    background-color: var(--main-color)
}

.landing .two-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 8rem;
    font: normal normal normal 1rem/2rem Geomanist;
    letter-spacing: 0;
    color: #fff;
   
}

.bgd-black {
    background-color: #000
}

.subtitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0;
    margin-top: 0
}

.three-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 4rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2rem
}

@media screen and (max-width:1200px) {
    .three-logos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto
    }
}

@media screen and (max-width:1200px) {
    .three-logos img {
        margin-bottom: 3rem;
        width: 56%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto
    }
}

.length-90 {
    margin-left: auto;
    margin-right: auto;
    width: 90%
}

.mydla.section-logo-slider .mask,
.section-logo-slider.mydlo .mask {
    -webkit-backdrop-filter: none;
    backdrop-filter: none
}

.bg-color-f9f9f9 {
    background-color: #f9f9f9
}

.mydla .btn-ghost {
    border-color: var(--main-color)
}

.mydla .btn-ghost,
.mydla .icon-arrow {
    color: var(--main-color)
}

.one-slide-per-page {
    margin-bottom: 2rem
}

@media screen and (max-width:1200px) {
    .one-slide-per-page {
        margin-left: 0!important
    }
}

.one-slide-per-page .next {
    top: 18rem;
    position: absolute;
    right: -5rem
}

@media screen and (max-width:1200px) {
    .one-slide-per-page .next {
        display: none!important
    }
}

.one-slide-per-page .prev {
    left: -5rem;
    top: 18rem;
    position: absolute
}

@media screen and (max-width:1200px) {
    .one-slide-per-page .prev {
        display: none!important
    }
}

.one-slide-per-page .slick-dots {
    bottom: auto
}

@media screen and (max-width:1200px) {
    .one-slide-per-page .slick-dots {
        top: calc(100% - 1rem)!important
    }
}

.one-slide-per-page .slick-dotted.slick-slider {
    margin-bottom: 6rem
}

.one-slide-per-page i {
    color: var(--main-color)
}

.section-black .slick-arrow.in-circle i {
    border-color: var(--main-color)
}

.heading {
    font-size: 1.5rem;
    font-weight: 500
}

.slider-full-page .next {
    top: 18rem;
    position: absolute;
    right: -4rem
}

.slider-full-page .prev {
    left: -4rem;
    top: 18rem;
    position: absolute
}

.slider-full-page .slick-slide {
    margin-left: 0
}

.slider-full-page button {
    color: var(--main-color)!important
}

.slider-full-page button i {
    border-color: var(--main-color)!important
}

.one-slide-per-page-box .one-slide-per-page .slick-dots {
    top: calc(100% - 1rem)
}

#mydlo_0,
#mydlo_1,
#mydlo_3,
#mydlo_5,
#mydlo_6 {
    padding: 0
}

.album.slider-3col-1row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.album.slider-3col-1row .next {
    top: 18rem;
    position: absolute;
    right: -4rem
}

@media screen and (max-width:1200px) {
    .album.slider-3col-1row .next {
        display: none!important
    }
}

.album.slider-3col-1row .prev {
    left: -4rem;
    top: 18rem;
    position: absolute
}

@media screen and (max-width:1200px) {
    .album.slider-3col-1row .prev {
        display: none!important
    }
}

.album.slider-3col-1row .album-element {
    width: 31.9%!important;
    margin-right: .5rem
}

@media screen and (max-width:1200px) {
    .album.slider-3col-1row .album-element {
        width: 100%!important
    }
}

.album.slider-3col-1row .album-element .title {
    display: -webkit-box;
    max-height: 6rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.album.slider-3col-1row .slick-dots {
    top: calc(100% - 1rem)
}

.album.slider-3col-1row .slick-dots li.slick-active button:before {
    background-color: var(--main-color)!important
}

.album.slider-3col-1row button {
    color: var(--main-color)!important
}

.album.slider-3col-1row button i {
    border-color: var(--main-color)!important
}

.album.slider-3col-1row .slick-initialized.slick-slide {
    margin-right: .1875rem;
    margin-left: .1875rem
}

.one-slide-per-page {
    max-width: 74rem;
    margin-left: 0
}

.one-slide-per-page .slick-slide {
    margin-left: .125rem
}

.one-slide-per-page .banner {
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem
}

.one-slide-per-page .banner .long-descr {
    max-width: 30rem
}

.one-slide-per-page .container {
    padding-left: 0;
    padding-right: 0
}

.one-slide-per-page .slick-dots {
    top: calc(100% - 6rem)
}

.one-slide-per-page .slick-dots li.slick-active button:before {
    background-color: var(--main-color)!important
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media screen and (max-width:1200px) {
    .num1.slider {
        margin-bottom: 0
    }
}

@media screen and (max-width:1200px) {
    .sticky-nav.moduletable.thematic-areas.bg-gold {
        display: none
    }
}

#budujemy>p:nth-child(10) {
    margin-top: 4rem
}

#budujemy section.section.mydla .container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 4rem
}

#budujemy .one-slide-per-page {
    margin-bottom: 5rem
}

#budujemy .one-slide-per-page .slick-dots {
    margin-top: 4rem
}

#budujemy .slider-3col-1row {
    margin-top: 2rem
}

#budujemy hr:nth-child(17) {
    margin-bottom: 4rem;
    margin-top: 4rem
}

#budujemy hr:nth-child(20) {
    margin-bottom: 4rem;
    margin-top: 7rem
}

#budujemy>div.album {
    margin-top: 1rem
}

#budujemy #mydlo_1>div>ul {
    margin-top: 2rem
}

#wspieramy .subtitle {
    margin-top: 6rem;
    margin-bottom: -2.5rem
}

.mask .length-100 {
    border-color: var(--main-color)!important
}

.mask .info-wrapper.list .length-100 {
    border-color: #363636!important
}

#content>main>article>section:nth-child(14)>div>div {
    padding-top: 1rem
}

#content>main>article>div.container.three-logos,
#content>main>article>hr {
    background-color: #fff
}

#content>main>article>section:nth-child(15)>hr {
    margin-top: 0
}

#content>main>article>section:nth-child(15) {
    background-color: #fff
}

#slick-slide-control11:before {
    background-color: #282828
}

@media screen and (max-width:1200px) {
    #budujemy>hr:nth-child(9) {
        margin-top: 5rem
    }
    #budujemy>div.banner.black-left.list {
        margin-bottom: 5rem
    }
    #budujemy>section.section.mydla {
        margin-bottom: 1rem
    }
    #budujemy>section.one-slide-per-page.slick-initialized.slick-slider.slick-dotted>ul {
        margin-top: -2rem
    }
    #budujemy>hr:nth-child(20) {
        margin-bottom: 4rem;
        margin-top: 9rem
    }
    #odpowiadamy>p.number-of-article,
    #popularyzujemy>p.number-of-article {
        margin-top: 1rem
    }
    #content>main>article>section:nth-child(12)>div>p.number-of-article {
        margin-top: 1rem
    }
    #budujemy>section.section-columns-slider>div>ul {
        top: calc(100% + .5rem)
    }
}

@media screen and (min-width:2200px) {
    .triangle-shadow {
        left:-93px;
    }
}

.bottom-fixed{
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100vw;
    padding-top: 4rem;
  
}

.bottom-fixed  hr{
        display: none;
   }
.bottom-fixed .three-logos {
        column-gap: 1rem;
        justify-content: start;
}

.bottom-fixed .close {
        background-color: transparent;
        top: 1.25rem;
        right: 5.25rem;
        width: 4rem;
        height: 4rem;
}

.fixed-wrapper.bottom-fixed {
    padding-top: 1rem;
    padding-bottom: 0rem;
    
  
}


.fixed-wrapper.bottom-fixed  .three-logos{
        column-gap: 4rem;
        img{
            width: 20%;
            height: 80%;
        }
    }

#budujemy > hr:nth-child(24) {
margin-top: 5rem;
}
