@font-face {
  font-family: "Geomanist";
  font-weight: 100;
  src: url("../fonts/geomanist/Geomanist-Thin.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 200;
  src: url("../fonts/geomanist/Geomanist-ExtraLight.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 300;
  src: url("../fonts/geomanist/Geomanist-Light.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 400;
  src: url("../fonts/geomanist/Geomanist-Regular.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 500;
	src: url("../fonts/geomanist/Geomanist-Book.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 600;
  src: url("../fonts/geomanist/Geomanist-Medium.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 700;
  src: url("../fonts/geomanist/Geomanist-Bold.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 800;
  src: url("../fonts/geomanist/Geomanist-Black.otf");
}
@font-face {
  font-family: "Geomanist";
  font-weight: 900;
  src: url("../fonts/geomanist/Geomanist-Ultra.otf");
}
