.conference {
  @media (min-width: 1200px) {
    article>.container:not(.section-hero) {
      display: grid;
      grid-template-columns: 336px calc(100% - 400px);
      column-gap: 104px;
    }

    aside {
      position: sticky;
      top: 140px;
    }
  }

  aside {
    align-self: start;

    .info-box {
      padding: 24px;
      background: #fff;
      box-shadow: 0px 20px 40px #0000000D;
    } 

    h2 {font-size: 32px}

    p {
      margin: 4px 0;
      line-height: 1.25;
    }
  }

  .wrapper-box {
    background: #fff;
    padding: 16px;
    box-shadow: 0px 20px 40px #0000000D;
    letter-spacing: 0;

    @media (min-width: 1200px) {
      padding: 45px 80px;
    }

    &.black {
      color: #fff;
      background: #000;

      p, strong {
        color: #fff;
      }
    }

    p {
      color: var(--grey-text);
      line-height: 2;
      margin: 0 0 40px;

      &:last-child {
        margin: 0;
      }
    }
  }
}
