@charset "UTF-8";
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: ""; }

.icon-team:before {
  content: ""; }

.icon-career:before {
  content: ""; }

.icon-program:before {
  content: ""; }

.icon-award:before {
  content: ""; }

.icon-preferences:before {
  content: ""; }

.icon-certificate:before {
  content: ""; }

.icon-open-letter:before {
  content: ""; }

.icon-check-qualities:before {
  content: ""; }

.icon-laptop-type:before {
  content: ""; }

.icon-fill-form:before {
  content: ""; }

.icon-view-doc:before {
  content: ""; }

.icon-guy-with-laptop:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-user2:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-kalendarz:before {
  content: ""; }

.icon-dzwonek:before {
  content: ""; }

.icon-dyplom:before {
  content: ""; }

.icon-error:before {
  content: ""; }

.icon-fb:before {
  content: ""; }

.icon-lupka:before {
  content: ""; }

.icon-cheveron:before {
  content: ""; }

.icon-punktator:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-areas:before {
  content: ""; }

.icon-publications:before {
  content: ""; }

.icon-projects:before {
  content: ""; }

.icon-press:before {
  content: ""; }

.icon-arrow:before {
  content: ""; }
