@charset "UTF-8";
/*!
Author: SWPS - Konrad Traczyk
*/
html {
  overflow-x: hidden; }

.front-page {
  position: relative; }
  .front-page .main-slider {
    position: relative;
    min-height: calc(100vh - 170px);
    background: url(../img/mgla_bgd.png) repeat-x #010110;
    background-position: 0 100%;
    transition: .5s; }
    .front-page .main-slider .slider-wrapper {
      margin: 0; }
    .front-page .main-slider .slide {
      min-height: calc(100vh - 170px);
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat; }
      @media (max-width: 1200px) {
        .front-page .main-slider .slide {
          background-size: cover;
          background-position: center bottom; } }
    .front-page .main-slider .slider-controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 80px;
      background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.75) 100%); }
      .front-page .main-slider .slider-controls .container {
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap; }
      .front-page .main-slider .slider-controls .slide-counter {
        color: #fff;
        order: -1;
        margin: 0 12px 0 15px; }
        .front-page .main-slider .slider-controls .slide-counter span {
          color: #fff; }
      .front-page .main-slider .slider-controls .prev {
        order: -1; }
      .front-page .main-slider .slider-controls .prev, .front-page .main-slider .slider-controls .next {
        color: var(--primary-color); }
      .front-page .main-slider .slider-controls .slick-disabled {
        color: #C8C8C8; }
      .front-page .main-slider .slider-controls .slick-dots {
        position: static;
        display: inline-block;
        width: auto;
        margin: 0 40px; }
        @media (max-width: 1199px) {
          .front-page .main-slider .slider-controls .slick-dots {
            margin: 40px 0 0;
            width: 100%; } }
  .front-page .small-news-slider {
    position: relative;
    display: none; }
    .front-page .small-news-slider h3 {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      padding: 0;
      display: none; }
    .front-page .small-news-slider .slider-wrapper {
      background: #fff;
      border-radius: 4px 0 0 4px;
      padding-left: 24px; }
      .front-page .small-news-slider .slider-wrapper .slide {
        color: #000;
        margin: 0 0 15px; }
  .front-page .slide-content {
    color: #fff;
    display: flex;
    flex-flow: column;
    margin: 40px 0 0; }
    @media (min-width: 1200px) {
      .front-page .slide-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);
        margin: 80px 0 0; }
        .front-page .slide-content.active {
          transform: none; }
          .front-page .slide-content.active .container > * {
            transform: none;
            opacity: 1; }
          .front-page .slide-content.active .caption {
            opacity: 1;
            right: 0; }
        .front-page .slide-content .container > * {
          transition: .75s;
          opacity: .5; }
        .front-page .slide-content.out {
          transition: .75s;
          transform: translateX(-100%); }
          .front-page .slide-content.out .caption {
            display: none !important; } }
    .front-page .slide-content h2 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.25;
      margin: 0;
      font-size: 46px; }
      @media (min-width: 1600px) {
        .front-page .slide-content h2 {
          font-size: 80px; } }
      @media (min-width: 1200px) {
        .front-page .slide-content h2 {
          transform: translateY(-90vh);
          font-size: 72px; } }
      @media (min-width: 769px) {
        .front-page .slide-content h2 {
          font-size: 60px; } }
      .front-page .slide-content h2 small {
        font-size: 75%; }
      @media (max-width: 375px) {
        .front-page .slide-content h2 small {
          font-size: 60%; } }
    .front-page .slide-content p {
      margin-top: 0;
      font-size: 14px; }
      @media (min-width: 1200px) {
        .front-page .slide-content p {
          transform: translateY(-80vh); } }
      @media (min-width: 769px) {
        .front-page .slide-content p {
          font-size: 18px; } }
    .front-page .slide-content hr {
      max-width: 80px; }
      @media (min-width: 1200px) {
        .front-page .slide-content hr {
          transform: translateY(-70vh); } }
    .front-page .slide-content a {
      font-size: 12px;
      display: inline-block;
      font-weight: 500; }
      @media (min-width: 1200px) {
        .front-page .slide-content a {
          transform: translateY(-60vh); } }
      @media (min-width: 769px) {
        .front-page .slide-content a {
          font-size: 14px; } }
    .front-page .slide-content .caption {
      display: none;
      transform: rotate(180deg);
      writing-mode: vertical-rl;
      position: absolute;
      font-size: 12px;
      right: -30px;
      opacity: 0;
      transition: .5s; }
      @media (max-width: 1199px) {
        .front-page .slide-content .caption {
          bottom: 24px !important; } }
      @media (max-width: 480px) {
        .front-page .slide-content .caption {
          font-size: 10px; } }
  @media (min-width: 1200px) {
    .front-page {
      min-width: 1000px; }
      .front-page .main-slider {
        min-height: calc(100vh - 85px); }
        .front-page .main-slider .slide {
          min-height: calc(100vh - 85px); }
        .front-page .main-slider .slider-controls {
          top: 10px;
          bottom: auto;
          background: transparent; } }
  @media (min-width: 1200px) and (min-height: 650px) {
    .front-page .slider-content .slide-content {
      margin: 0;
      justify-content: center; }
    .front-page .main-slider .slider-controls {
      top: 25%; } }
  @media (min-width: 1200px) {
      .front-page .slider-content .slide-content {
        margin: 50px 0 0; }
      .front-page .small-news-slider {
        position: absolute;
        left: 200px;
        right: 0;
        bottom: 0;
        z-index: 3; }
        .front-page .small-news-slider h3 {
          display: block; }
        .front-page .small-news-slider .slider-wrapper .slide {
          margin: 0; } }
  @media (max-width: 1199px) {
    .front-page:before {
      content: "";
      font-family: icomoon;
      width: 50px;
      height: 60px;
      background: #fff;
      display: inline-flex;
      padding-left: 10px;
      align-items: center;
      position: absolute;
      top: -30px;
      left: 50%;
      margin-left: -46px;
      transform: rotate(90deg);
      transform-origin: 50%;
      border-radius: 50%; }
    .front-page .main-slider .slick-arrow, .front-page .main-slider .slide-counter {
      display: none !important; } }
