.landing {
  background: #fff; }
  .landing .breadcrumbs-wrapper {
    background: #f6f6f6; }
  @media (min-width: 1200px) {
    .landing div.breadcrumbs {
      padding: 80px 0 0;
      margin: 0; } }
  .landing.landing-body-bg .landing-sections {
    background: #f6f6f6; }
  @media (max-width: 599px) {
    .landing div.breadcrumbs:after {
      background: linear-gradient(90deg, transparent, #000); } }

.landing-top {
  color: #fff;
  background: none no-repeat center right;
  background-size: cover;
  min-height: calc(100vh - 85px);
  position: relative;
  display: flex;
  align-items: center; }
  .landing-alt .landing-top {
    display: block;
    background-color: #000;
    background-position: top right;
    background-size: 200%; }
    .landing-alt .landing-top ul.breadcrumbs li :after,
    .landing-alt .landing-top ul.breadcrumbs li {
      color: #fff; }
    .landing-alt .landing-top h1 + hr {
      margin-top: 0; }
    .landing-alt .landing-top hr {
      max-width: 160px; }
    .landing-alt .landing-top .container:first-child {
      min-height: inherit; }
    .landing-alt .landing-top .container + .container {
      padding-bottom: 100px; }
      .landing-alt .landing-top .container + .container > div:nth-child(3) {
        text-align: center; }
      .landing-alt .landing-top .container + .container h2 {
        margin: 0 0 50px; }
        .landing-alt .landing-top .container + .container h2 .lead {
          line-height: 1.25;
          font-size: 36px; }
        .landing-alt .landing-top .container + .container h2 .ext {
          font-size: 16px; }
      .landing-alt .landing-top .container + .container p {
        color: #fff;
        font-size: 16px; }
    @media (min-width: 2000px) {
      .landing-alt .landing-top {
        background-size: cover; } }
    @media (min-width: 1200px) {
      .landing-alt .landing-top {
        background-size: auto; }
        .landing-alt .landing-top h1 {
          font-size: 72px; }
        .landing-alt .landing-top div.breadcrumbs {
          padding: 16px 0 0;
          position: absolute;
          top: 0; }
        .landing-alt .landing-top .container + .container {
          gap: 24px;
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 150px; }
          .landing-alt .landing-top .container + .container > div {
            flex: 1 0 48%; } }
    @media (max-width: 1199px) {
      .landing-alt .landing-top h1 {
        margin-top: auto; } }
  @media (min-width: 1200px) {
    .landing-ci .landing-top h1 {
      font-size: 64px; }
    .landing-ci .landing-top h2 {
      font-size: 36px;
      margin-bottom: 48px; } }
  .landing-ci .landing-top h1 {
    margin: 60px 0 0; }
  .landing-ci .landing-top h2 {
    margin: 15px 0 30px; }
  .landing-top > img {
    position: absolute;
    top: 0;
    right: 0; }
  .landing-top .container:first-child {
    flex-flow: column;
    justify-content: center; }
    .landing-top .container:first-child > * {
      width: 100%; }
    .landing-top .container:first-child > p:first-child {
      margin-bottom: 0; }
  .landing-top .landing-container {
    max-width: 810px; }
  .landing-top h1 {
    font-size: 48px;
    margin-top: 0; }
  .landing-top hr {
    max-width: 80px;
    margin: 40px 0; }
  @media (max-width: 1199px) {
    .landing-top {
      flex-flow: column;
      margin: 0 0 32px; } }
  @media (max-width: 350px) {
    .landing-top h1 {
      font-size: 32px; } }

.statistics-container.container {
  background: #fff;
  box-shadow: 0px 20px 40px #0000000D;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-flow: column nowrap;
  margin: 32px 16px -32px;
  width: calc(100% - 32px);
  min-height: unset; }
  .statistics-container.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    flex: 1; }
    .statistics-container.container > div:not(:first-child) {
      border-left: 1px solid #E8E8E8; }
      @media (max-width: 1199px) {
        .statistics-container.container > div:not(:first-child) {
          border: none;
          border-top: 1px solid #E8E8E8; } }
    .statistics-container.container > div p:only-child {
      color: #B8B8B8;
      width: 100%;
      text-align: center; }
      .statistics-container.container > div p:only-child span {
        font-weight: 700;
        font-size: 40px;
        color: var(--primary-color); }
    .statistics-container.container > div p:first-child {
      font-weight: 700;
      font-size: 40px;
      color: var(--primary-color);
      margin: 0; }
    .statistics-container.container > div p:last-child {
      font-size: 10px;
      line-height: 13px;
      margin-left: 8px;
      color: #000;
      font-weight: 500;
      white-space: nowrap; }
  @media (min-width: 1200px) {
    .statistics-container.container {
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
      flex-flow: row;
      width: 100%;
      margin: 0; } }

.landing-sections {
  overflow: hidden; }
  .landing-sections.landing-ci {
    overflow: initial; }
    .landing-sections.landing-ci .section .title h2:before {
      content: none; }
    @media (min-width: 1200px) {
      .landing-sections.landing-ci .section .title h2 {
        margin-bottom: 115px; }
        .landing-sections.landing-ci .section .title h2 .lead {
          font-size: 78px; }
        .landing-sections.landing-ci .section .title h2 .ext {
          font-size: 36px; }
      .landing-sections.landing-ci .standard-nav.secondary-nav ul {
        margin-right: 10px; }
        .landing-sections.landing-ci .standard-nav.secondary-nav ul li:last-child a:not(.btn) {
          padding-right: 20px; } }
  .landing-sections .container {
    max-width: 1078px; }

@media (min-width: 1200px) {
  .landing-0 .title {
    padding: 90px 0 0; }
    .landing-0 .title h2 {
      margin: 0 0 90px; } }
.landing-0 .landing-top {
  padding: 0 0 60px; }
.landing-0 .section.section-zigzag.section-right-bg:before {
  content: none; }
.landing-0 .section:first-of-type {
  padding-top: 40px; }
.landing-0 .section:not(.section-black, .section-zigzag):nth-of-type(2n-1) {
  background-color: #f6f6f6; }
.landing-0 .section:not(.section-black, .section-zigzag):nth-of-type(2n) {
  background-color: #fff; }

.title .two-columns {
  display: flex; }
  .title .two-columns > div {
    flex: 1 0 50%;
    max-width: 49%; }
    .title .two-columns > div h3 {
      margin-bottom: 24px;
      font-weight: 700; }
    .title .two-columns > div ul li {
      margin: 0; }

.animation-container {
  min-height: 50vh;
  font-size: 72px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700; }
  @media (max-width: 1199px) {
    .animation-container {
      font-size: 36px; } }
