$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;
$icon-arrow-down: "\e920";
$icon-arrow-download: "\e922";
$icon-team: "\e91c";
$icon-career: "\e91d";
$icon-program: "\e91e";
$icon-award: "\e91f";
$icon-preferences: "\e91b";
$icon-certificate: "\e914";
$icon-open-letter: "\e915";
$icon-check-qualities: "\e916";
$icon-laptop-type: "\e917";
$icon-fill-form: "\e918";
$icon-view-doc: "\e919";
$icon-guy-with-laptop: "\e91a";
$icon-upload: "\e913";
$icon-user2: "\e910";
$icon-phone: "\e911";
$icon-email: "\e912";
$icon-kalendarz: "\e90d";
$icon-dzwonek: "\e90e";
$icon-dyplom: "\e90f";
$icon-error: "\e90c";
$icon-fb: "\e90b";
$icon-lupka: "\e909";
$icon-cheveron: "\e908";
$icon-punktator: "\e902";
$icon-mail: "\e906";
$icon-user: "\e907";
$icon-close: "\e90a";
$icon-areas: "\e901";
$icon-publications: "\e903";
$icon-projects: "\e904";
$icon-press: "\e905";
$icon-arrow: "\e900";
$icon-download: "\e921";